@page
@model Blazor_web.App.Frontend.Pages.ListModel
@{
}
<h1>Listado de Saludos en Varios Idiomas</h1>
<table class="table">
    @foreach (var saludo in Model.ListaSaludos)
    {
        <tr>
            <td>@saludo</td>
        </tr>
    }
</table>